@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/Acumin-RPro.woff') format('woff');
}

@font-face {
  font-family: 'AcuminProBold';
  src: url('fonts/Acumin-BdPro.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll Snapping */
html{
  scroll-snap-type: y mandatory;
  scroll-behavior:smooth;
  scroll-padding-top: 11.5vh;
}

body{
}

section{

  scroll-snap-align: start;
  min-height: 88.5vh;
  max-height: max-content;
  display: flex;
  justify-content: center;
  background-color: #dadada;
  position: relative;

}


#welcome{
    height: 100vh;
}

/* SCROLL PROGRESS */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #1c2e37;

}

a{
  color: #1c2e37;
  font-family: 'AcuminPro';
  text-decoration: none;
}

h1{
  color: #1c2e37;
  font-family: 'AcuminProBold';
  /* margin-left: 10px; */

  margin: 3vh;

  font-size: 6vh;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: 3.5px;
	/* line-height: 34.56px; */
	text-align: left;
	text-indent: 0vh;
	text-transform: uppercase;
	word-spacing: 0px;

  transition-timing-function: ease-out;

}

p{
  color: #1c2e37;
  font-family: 'AcuminPro';
  margin: 2.5vh;
  font-size: 3vh;
	letter-spacing: 2.5px;
	line-height: 4vh;
	text-align: left;
}

li{
  list-style-type: none;
  color: #1c2e37;
  font-family: 'AcuminPro';
  margin: 2.5vh;
  font-size: 3vh;
	letter-spacing: 2.5px;
	line-height: 4vh;
	text-align: left;


  padding: 5px 2px 2px 5px;
  border-radius: 5px 10px 5px;
/*
  border-radius: 10px; */
  border: 3px solid #f7c86f;
  margin: 10px;
}

.blue-background li{
  color: #dadada;
}

/* LIGHT */

/* font-family: ambroise-francois-std,serif;
font-weight: 300;
font-style: normal; */

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #dadada;
  /* background: #1c2e37; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #f7c86f;
  width: 0%;
}

/* Side Navigation */

/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 2; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #dadada; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 0px; /* Place content 0px from the top -- needed to make the animation work */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The navigation menu links */
.sidenav .navoption {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #1c2e37;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.navoption a{
  position: relative;
  /* The position of the underline is based on this */
}

.sidenav a:before, .sidenav a:after {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: -3px;
  width: 10px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: #1c2e37;;
}

.sidenav a:before{
  left: 50%;
}

.sidenav a:after{
  right: 50%;
}

.sidenav a:hover{
  color: #f7c86f;
}

.navoption:hover a:before,
.navoption:hover a:after{
  width: 50%
}




/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s;
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

/* My Stuff */

.menu-button{
  height: 5vh;
  position: relative;
  margin: 2vh;
}

.x-button{
  height: 5vh;
  position: relative;
  top: 0px;
  left: calc(250px - 12vh);
  margin: 3.5vh;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logotopright{
  height: 11.5vh;
  margin-left: auto;
  padding-right: 5px;
  padding-bottom: 5px;
  opacity: 1.0;
}


.click-area{
  width: 20%;

}


.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  max-height: inherit;
  width: 95%;
  margin-top: 0vh; /* this property will have to change within the media rules
                        scaling on other devices */
}

.dummy{
  height: 11.5vh;
}

.blue-background{
  background-color: #1c2e37;
  /* scroll-snap-align: start; */
}

.blue-background h1{
  color: #dadada;
}

.blue-background p{
  color: #dadada;
}



.logomain{
  height: 100px;
  margin-bottom: 6px;
}

div .test {
	/* Font & Text */
	font-size: 23.04px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: 3.456px;
	line-height: 34.56px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 59.1875px;
	width: 271.563px;
	border: 3px solid rgb(224, 55, 73);
	border-top: 3px solid rgb(224, 55, 73);
	border-right: 3px solid rgb(224, 55, 73);
	border-bottom: 3px solid rgb(224, 55, 73);
	border-left: 3px solid rgb(224, 55, 73);
	margin: 0px;
	padding: 9.60008px 19.1999px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: default;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.2s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}



/* Media Rules */

@media screen and (min-width: 900px) {

}
