@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/Acumin-RPro.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* Scroll Snapping */
  scroll-snap-type: y mandatory;
  scroll-behavior:smooth;
}

section{
  /* Section height is fullscreen */
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  /* width: 1500px; */

  /* Scroll Snapping */
  scroll-snap-align: start;
}

/* SCROLL PROGRESS */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #1c2e37;
}

h1{
  font-family: ambroise-francois-std,serif;
  font-weight: 700;
  font-style: normal;
  color: #dadada;
}

p{
  color: #dadada;
  font-family: 'AcuminPro'

}

/* LIGHT */

/* font-family: ambroise-francois-std,serif;
font-weight: 300;
font-style: normal; */

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #1c2e37;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #f7c86f;
  width: 0%;
}

/* Side Navigation */

/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 2; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #dadada; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #1c2e37;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #f7c86f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* .sidenav{
  right: 0;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s;
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

/* My Stuff */

.menu-button{
  height: 25px;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  /* top: 10px;
  left: 10px; */
}

/* .title-card{
  display: flex;
  justify-content: center;
  width: 95%;

  border-top: 20px;
  border-bottom: 20px;
  border-left: 2px;
  border-right: 2px; */
  /* position: absolute; */
  /* top: 20px;
  left: 0px;
  max-width:600px;
  border-style: solid;
} */

.image-container{
  display: flex;
  justify-content: center;
  position: relative;
}

.click-area{
  width: 20%;

}

.down-arrow{
  width:100%;
  display: flex;
  justify-content: center;
  border: 5px solid red;
}


.content{
  max-width: 600px;
  width: 95%;
  margin-top: 100px; /* this property will have to change within the media rules
                        scaling on other devices */
}

.blue-background{
  background-color: #1c2e37;
  height: 100vh;
  scroll-snap-align: start;
}

.right-arrow{
  height: 10%;
}

.header-container{
  display: flex;
  justify-content: left;
}


/* Media Rules */

@media screen and (min-width: 900px) {

}
