@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/Acumin-RPro.woff') format('woff');
}

@font-face {
  font-family: 'AcuminProBold';
  src: url('fonts/Acumin-BdPro.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  overscroll-behavior: none;
}


article{
  position: fixed;
  top: 64px;
  scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch;
  height:calc(100% - 64px);
  height:-moz-calc(100% - 64px);
  height:-webkit-calc(100% - 64px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  overscroll-behavior: none;
}

section{
  scroll-snap-align: start;
  min-height: 100%;
  max-height: max-content;
  display: flex;
  justify-content: center;
  background-color: #dadada;
  position: relative;
}

/* SCROLL PROGRESS */

header {
  overscroll-behavior: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #1c2e37;

}

a{
  color: #1c2e37;
  font-family: 'AcuminPro';
  text-decoration: none;
}

h1{
  color: #1c2e37;
  font-family: 'AcuminProBold';

  margin: 3vh;
  font-size: 10vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: 3.5px;
	/* line-height: 34.56px; */
	text-align: left;
	text-indent: 0vh;
	text-transform: uppercase;
	word-spacing: 0px;

  transition-timing-function: ease-out;
}


p{
  color: #1c2e37;
  font-family: 'AcuminPro';
  margin: 2.5vh;
  font-size: 3vh;
	letter-spacing: 2.5px;
	line-height: 4vh;
	text-align: left;
}

address{
  color: #1c2e37;
  font-family: 'AcuminPro';
  margin: 2.5vh;
  font-size: 3vh;
	letter-spacing: 2.5px;
	line-height: 4vh;
	text-align: left;
}

li{
  list-style-type: none;
  color: #1c2e37;
  font-family: 'AcuminPro';
  margin: 2.5vh;
  font-size: 3vh;
	letter-spacing: 2.5px;
	line-height: 4vh;
	text-align: left;


  padding: 5px 2px 2px 5px;
  border-radius: 5px 10px 5px;
  border: 3px solid #f7c86f;
  margin: 10px;
}

button{
  list-style-type: none;
  color: #1c2e37;
  font-family: 'AcuminPro';
  /* margin: 2.5vh; */
  font-size: 3vh;
	letter-spacing: 2.5px;
	line-height: 4vh;
	text-align: left;
  padding: 5px 2px 2px 5px;
  border-radius: 5px 10px 5px;
  border: 3px solid #f7c86f;
  margin: 10px;
  background-color: inherit;
}

.blue-background li{
  color: #dadada;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #dadada;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #f7c86f;
  width: 0%;
}

/* Side Navigation */

/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 2; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #dadada; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 0px; /* Place content 0px from the top -- needed to make the animation work */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The navigation menu links */
.sidenav .navoption {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #1c2e37;
 display: block;
 transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.navoption a{
  position: relative;
  /* The position of the underline is based on this */
}

.sidenav a:before, .sidenav a:after {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 1;
  background-color: #1c2e37;;
}

.sidenav a:before{
  left: 50%;
}

.sidenav a:after{
  right: 50%;
}

.sidenav a:hover{
  /* color: #f7c86f; */
}

.navoption:hover a:before,
.navoption:hover a:after{
  width: 50%
}

.navoption a.current:before,
.navoption a.current:after{
  width: 50%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

/* My Stuff */

.menu-button{
  height: 35px;
  position: relative;
  margin: 10px;
}

.x-button{
  height: 5vh;
  position: relative;
  top: 0px;
  left: calc(250px - 12vh);
  margin: 3.5vh;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logotopright{
  height: 60px;
  margin-left: auto;
  padding-right: 5px;
  padding-bottom: 5px;
  opacity: 1.0;
  padding: 5px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  max-height: inherit;
  width: 95%;
  margin-top: 0vh; /* this property will have to change within the media rules
                        scaling on other devices */
}


.blue-background{
  background-color: #1c2e37;
}

.blue-background h1{
  color: #dadada;
}

.blue-background p{
  color: #dadada;
}

.popup{
  height:calc(100% - 64px);
  /* height: 100%; */
  width: 100%;
  top: 64px;
  left:0;
  position: fixed;
}

.content.show .popup{
  transition: 0.5s;
  transition-timing-function: ease-out;
  transform: translate(0);
  opacity: 1;
  z-index: 1;
  will-change: transform;
}

.popup{
  transform: translate(-100%);
  transition-timing-function: ease-in;
  transition: 0.5s;
  z-index: 1;
  opacity: 1;
  will-change: transform;
  padding: 2vh;
}

.show-on-scroll {
  transition-timing-function: ease-in;
  transition: 0.5s;
  opacity: 0;
  will-change: transform;
}

.top{
  transform: translate(0, -10%);
  will-change: transform;
}

.middle{
  /* transform: translate(0, 5%); */
  will-change: transform;
}

.bottom{
  /* transform: translate(0, 5%); */
  will-change: transform;
}

.show-on-scroll.is-visible{
  transition: 0.5s;
  transition-timing-function: ease-out;
  transform: translate(0);
  will-change: transform;
  opacity: 1;
}

.mapcontainer{
  background-color: #1c2e37;
  /* background: linear-gradient(0deg, rgba(28,46,55,1) 75%, rgba(218,218,218,1) 100%); */

  /* border-radius: 25px; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  min-height: max-content;
  height: 100%;

}

.map{
  display: flex;
  justify-content: center;
  /* height: 80%; */
  height:calc(100% - 78px);
}


iframe{
  margin: 20px;
  width: 90%;
  height:calc(100% - 40px);
  background-color: grey;
}

.dark{
  margin-left: 2.5vh;
  margin-bottom: 2.5vh;
  border-color: #f7c86f;
  color: #dadada;
  background-color: inherit;
}



/* Media Rules */

@media screen and (min-width: 900px) {

}
