* {
  margin: 0;
  padding: 0;
}

html{
}


article{
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  scroll-padding-top: 11.5vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;

}
